<div class="p-4">
  <h1>Stupid Coaching</h1>
  <br>
  <p> <strong>Question:</strong> <%= @question %> </p>
  <p> <strong>Answer:</strong> <%= @answer %> </p>
  <%= link_to "Ask a new question", ask_path %>
</div>
